html{
    font-size: 62.5%;
}

@font-face {
    font-family: 'Outfit', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
}

body{
    font-family: 'Outfit', sans-serif;
    font-size:clamp( 1.5rem, 1.3239rem + 0.4695vw, 2rem )
}

h1{
    font-size: 1.8rem;
    font-weight: 700;
}

p{
    font-size: 1.5rem;
    font-weight: 400;
}

  